*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /*77222015*/
    scroll-behavior: smooth;
    
}

.nav_menu{
    position: relative;
    color: #000;
}

.nav_menu .sub_menu{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    min-width: 300px;
    min-height: 200px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    pointer-events: none;
    border-radius: 5px;
    padding: 20px;
    opacity: 0;
    transform: translateY(30px);
    transition: .4s;
}
.nav_menu .sub_menu::before{
    position: absolute;
    content: '';
    top: -10px;
    left: 4px;
    height: 25px;
    width: 25px;
    transform: rotate(45deg);
    background-color: #fff;
}


.nav_menu:hover .sub_menu{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.nav_menu .sub_menu a{
    text-decoration: none;
    display: block;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #5499C7;
    z-index: 12;
    transition: .3s;
    text-transform: capitalize;
    font-size: 16px;
}
.nav_menu .sub_menu a:hover{
    text-decoration: none;
    display: block;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #ffffff;
    z-index: 12;
    background: #0b82d2;
}
.nav_menu .sub_menu a:last-child{
    border-bottom: none;
}

.card_size_image {
    width: 100%;
    height: 250px !important;
    overflow: hidden !important;
}
.card_size_image img{
    width: 100%;
    height: 100%;
    object-position: 20% 0;
    object-fit: cover;
}

.slide_show_home_page .carousel-item img{
    width: 100%;
    height: 400px;
}

.slide_detaile_product img{
    width: 100%;
    min-height: 500px;
    object-fit: cover;
  }
  .menu-left {
    position: relative;
  }
  .menu-left .count{
    position: absolute;
    top: -13px;
    left: 30px;
    width: 20px;
    height: 20px;
    background: rgba(8, 8, 239, 0.2);
    text-align: center;
    color: #fff;
    line-height: 1.7;
    border-radius: 50%;
    font-size: 12px;
  }
.menu-left i{
    cursor: pointer;
}
.menu-left .memu{
    position: relative;
    display: none;
    padding: 10px;
    transition: .4s;
    pointer-events: auto;
}

.menu-left .memu.active{
    display: block;
}
.menu-left .item{
    top: 20px;
    width: 550px;
    position: absolute;
    max-height: 500px;
    right: 0;
    background: #f1f1f1;
    overflow-y: scroll;
    
}
.menu-left .memu::before{
    position: absolute;
    width: 30px;
    height: 30px;
    background: #2471a4 ;
    content: '';
    right: 30px;
    z-index: 3;
    top: 5px;
    transform: rotate(45deg);
}
.btn-check-out{
    position: absolute;
    width: 530px;
    right: 15px;
    outline: none !important;
    border: none !important;
    background: #5499C7 ;
    color: #fff;
    padding: 10px;
    transition: .4s;
    z-index: 44;
}
.btn-check-out:hover{
    background: #2471a4 ;
    color: #fff;
}

.accont a{
    text-decoration: none;
    font-size: 15px;
    color: gray;
    padding: 10px 5px;
}
.accont a:hover{
    color: blue;
}

.sticky-top.sticky{
    position: fixed;
    top: -50px;
    left: 0;
    width: 100%;
    transition: .3s all ease;
}
.boder-right{
    border-right: 2px solid rgba(0, 0, 0, 0.1);
}
.read-me{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    padding: 5px 0;
}
.read-me::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: red;
}
.top-head h3{
    font-size: 16px;
    opacity: 0.8;
    color: gray;
    font-weight: 300;
}
body{
    background: #fff;
}
.title{
    text-align: center;
    position: relative;
}
.title::before{
    content: '';
    width: 100px;
    height: 2px;
    background: red;
    position: absolute;
    top: 30px;
    left: 44.5%;
}
.title h3{
    font-size: 50;
    font-weight: bold;
    font-family: 'Segoe U';
    text-transform: uppercase;
}

.title p{
    font-family: 'Segoe U';
    font-size: 20px;
    color: gray;
}
.main-box{
    margin: 30px 0;
}
.main-box .card-box{
    width: 300px;
    padding: 10px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.main-box .card-box .img{
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.main-box .card-box .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card_product .img{
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.card_product .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#product .img{
    width: 100%;
    height: 300px;
    overflow: hidden;
}
#product .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.main-box .price{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    padding: 5px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    overflow: hidden;
    color: #fff;
}
.main-box .price span{
    font-size: 12px;
    font-weight: bold;
}
.main-box .price p{
    font-size: 11px;
    font-weight: 300;
}
.main-box .add{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    right: 10px;
    height: 100px;
    bottom: 30%;
}
.main-box .add i{
    cursor: pointer;
    padding: 5px;
}
.main-box .star{
    margin: 14px 0;
}
.main-box .star i{
    color: yellow;
}
.main-box .star i:last-child{
    color: gray;
}
.main-box h4{
    font-size: 17px;
    font-weight: bold;
    opacity: 0.5;
}
.main-box .desc p{
    font-size: 22px;
    font-weight: bold;
    color: red;
    opacity: 0.7;
    padding: 0 10px;
}
.shopping{
    width: 100%;
    height: 230px;
    background: rgba(0, 0, 0, 0.1);
    margin: 50px 0;
}

.card .price{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    overflow: hidden;
    color: #fff;
}
.card .price span{
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
}
.card .price p{
    font-size: 11px;
    font-weight: 300;
}
.card .add{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    right: 10px;
    height: 100px;
    bottom: 30%;
}
.modal-imga img{
    width: 100%;
    min-height: 400px;
    object-fit: cover;
}
.card .add i{
    cursor: pointer;
    padding: 5px;
}
.card .star{
    margin: 14px 0;
}
.card .star i{
    color: yellow;
}
.card .star i:last-child{
    color: gray;
}
.card h4{
    font-size: 17px;
    font-weight: bold;
    opacity: 0.5;
}
.card .desc{
    padding: 0 15px;
}
.card .desc p{
    font-size: 22px;
    font-weight: bold;
    color: red;
    opacity: 0.7;
}
.about p{
   text-align: justify; 
}
.btn-custom{
    padding: 4px 8px;
    border: none;
    outline: none;
    background-color: #F20C0C;
    color: #fff;
    font-family: 'Segoe UI';
    font-weight: 300;
    width: 120px;
    margin: 10px;
    font-size: 15px;
    transition: .3s all ease-in-out;
    text-decoration: none;
    text-align: center;
}
.btn-custom:hover{
    background-color: #9b0606;
    text-decoration: none;
    color: #fff;
}
.Details h4{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 4px 0;
}
.Details .dis-price{
    position: relative;
}
.Details .dis-price::before{
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 1px;
    content: '';
    background-color: red;
}
.Details .size{
    position: relative;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.Details .size .size-select{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid red;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    line-height: 1;
    transition: .3s all ease-in-out;
}
.Details .size .size-select:hover{
    background-color: red;
    color: #fff;
}
.Details h2
{
    font-size: 16px;
    color: #000;
    font-weight: bold;
}
.Details p{
    text-align: justify;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Segoe UI';
}
.box-product{
    width: 100%;
    padding: 15px;
    overflow: hidden;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.box-product .img{
    width: 40%;
    height: 200px;
}
.box-product .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-product .price{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    overflow: hidden;
    color: #fff;
}
.box-product .price span{
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
}
.box-product .price p{
    font-size: 11px;
    font-weight: 300;
}
.box-product .add{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    right: 10px;
    height: 100px;
    bottom: 30%;
    background-color: #fff;
}
.box-product .add i{
    cursor: pointer;
    padding: 5px;
}
.box-product .star{
    margin: 14px 0;
}
.box-product .star i{
    color: yellow;
}
.box-product .star i:last-child{
    color: gray;
}
.box-product h4{
    font-size: 22px;
    font-weight: bold;
    opacity: 0.5;
}
.box-product .desc p{
    font-size: 12px;
    font-weight: bold;
    color: red;
    opacity: 0.7;
    padding: 0 10px;
}
.input-focus{
    border: none !important;
    border-bottom: 2px solid royalblue !important;
}
.form-control:focus {
    box-shadow: none !important;
    border-color: blue;
  }
  #new_products .img{
    width: 170px;
    height: 130px;
    margin-right: 10px;
  }

  #new_products .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #new_products  h4{
    font-size: 15px;
  }
  #new_products p{
    font-size: 16px;
  }

